*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
.gitignore.swp
.svn
/EnhancedCrestInstru/bin
/EnhancedCrestInstru/cil
/EnhancedCrestInstru/src
/EnhancedCrestInstru/lib
/EnhancedCrestInstru/include
/EnhancedCrestInstru/README
/EnhancedCrestINstru/test
!/EnhancedCrestInstru/cil/src/ext/crestInstrument.ml
!/EnhancedCrestInstru/LICENSE
!/EnhancedCrestInstru/src/base/symbolic_interpreter.cc
!/EnhancedCrestInstru/src/base/symbolic_interpreter.h
!/EnhancedCrestInstru/src/libcrest
